<h1 class="text-center">ChatBot NLP</h1>
<div class="d-flex justify-content-center">
  <div class="p-2">
    <a href="/nlp">
      <button type="button" class="btn <%= page == 'intent' ? 'btn-primary' : 'btn-outline-primary' %>">Ý định</button>
    </a>
  </div>
  <div class="p-2">
    <a href="/nlp/samples">
      <button type="button" class="btn <%= page == 'samples' ? 'btn-primary' : 'btn-outline-primary' %>">
        Câu mẫu
      </button>
    </a>
  </div>
  <div class="p-2">
    <a href="/nlp/entity">
      <button type="button" class="btn <%= page == 'entity' ? 'btn-primary' : 'btn-outline-primary' %>">
        Thực thể
      </button>
    </a>
  </div>
  <div class="p-2">
    <a href="">
      <button type="button" class="btn <%= page == 'stopword' ? 'btn-primary' : 'btn-outline-primary' %>">
        StopWord
      </button>
    </a>
  </div>
  <div class="p-2">
    <a href="/nlp/chatbot">
      <button type="button" class="btn <%= page == 'chatbot' ? 'btn-primary' : 'btn-outline-primary' %>">
        Chat bot
      </button>
    </a>
  </div>
  <div class="p-2">
    <a href="/nlp/voicebot">
      <button type="button" class="btn <%= page == 'voicebot' ? 'btn-primary' : 'btn-outline-primary' %>">
        Voice bot
      </button>
    </a>
  </div>
</div>
